    <!-- About Section -->
    <section id="boek-anchor" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>De Toneelbijbel</h2>
                <p>De basis van <i>De Toneelbijbel</i> is de synopsis van de vier Evangeliën volgens Mattheüs, Markus, Lukas en Johannes. In de synopsis worden de verhaallijnen samengesmolten tot een enkele verhaallijn die alle elementen bevat uit de afzonderlijke Evangeliën en die uit overlappende verhaallijnen degene kiest die het meest geschikt is voor dramatisering. Zowat alle dialogen zijn reeds uitgeschreven door de evangelisten, dus de omzetting naar toneel is rechttoe-rechtaan en het resultaat is een toneelscript dat haast helemaal is samengesteld uit letterlijke bijbelfragmenten. De publicatie geeft bij elk element van de dialoog en bij elke regieaanwijzing de referentie naar de brontekst.</p>
<p>De toneelbewerking van het Evangelie is niet bedoeld om uit te voeren voor groot publiek, maar aarzel niet om bij gelegenheid samen met de kinderen thuis, in de catechesegroep of in de klas een of meerdere bedrijven uit te voeren om het bijbelverhaal wat leven in te blazen. Of neem het stuk zelf bij de hand als alternatieve bijbellezing!</p>
              <br/>
                <p>INHOUD : <ph class="accent">HET GEBOORTEVERHAAL &sdot; HET DOOPSEL VAN JEZUS &sdot; DE BEKORING VAN JEZUS &sdot; DE LEERLINGEN VAN JOHANNES &sdot; JEZUS EN DE SAMARITAANSE VROUW &sdot; DE KNECHT VAN DE HONDERDMAN &sdot; STORM OP HET MEER EN GENEZING VAN EEN BEZETENE &sdot; JEZUS EN DE OVERSPELIGE VROUW &sdot; DE VERLOREN ZOON &sdot; DE PARABEL VAN LAZARUS EN DE RIJKE MAN &sdot; HET KONINKRIJK GODS &sdot; DE TALENTEN &sdot; DE OPWEKKING VAN LAZARUS &sdot; DE GEDAANTEVERANDERING &sdot; HET LIJDEN EN STERVEN VAN ONZE HEER JEZUS CHRISTUS &sdot; DE VERRIJZENIS VAN JEZUS</ph></p> <br/>
                <br/>
              </div>
        </div>
    </section>
